<style>
body {
    background-color: greenyellow;
}
h1 {
    color: red;
    font-size: 74px;
    background-color: black;
}
h2 {
    color: black;
    background-color: orangered;
}


p {
    
    background-color: yellow;
}
</style>