
body {

    background-color: seagreen;

    margin: 100px 300px;

    padding: 20px 50px;
  }

  .title {
    color: rgb(51, 255, 0);
  }
  
  h1 {
    color: black;
    text-size-adjust: 72px;
    text-align: center;
  }

  h3 {
      color: black;
    text-decoration-color: yellow;
  }
  
  p {
      color: black;
    font-family: verdana;
    font-size: 20px;
  }