body {
    background-color: seagreen;

    margin: 100px 300px;

    padding: 20px 50px;
  }
  
  h1 {
    color: white;
    text-size-adjust: 72px;
    text-align: center;
  }

  h3 {
    text-decoration-color: yellow;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }